In [1]:
import pandas as pd
import os

In [3]:
#file_path = Path("/Users/raulbazan/Desktop/HistoricalData/DixonMeadowPreserve/2025/April2025.csv")

df = pd.read_csv("/Users/raulbazan/Desktop/HistoricalData/DixonMeadowPreserve/2025/April2025.csv")
print(df)


print(df.dtypes)

    speciesCode               comName                sciName     locId  \
0        cangoo          Canada Goose      Branta canadensis  L3041917
1        moudov         Mourning Dove       Zenaida macroura  L3041917
2        turvul        Turkey Vulture         Cathartes aura  L3041917
3        rethaw       Red-tailed Hawk      Buteo jamaicensis  L3041917
4        normoc  Northern Mockingbird      Mimus polyglottos  L3041917
..          ...                   ...                    ...       ...
644      turvul        Turkey Vulture         Cathartes aura  L3041917
645      amekes      American Kestrel       Falco sparverius  L3041917
646      amecro         American Crow  Corvus brachyrhynchos  L3041917
647      eursta     European Starling       Sturnus vulgaris  L3041917
648      comgra        Common Grackle     Quiscalus quiscula  L3041917

                   locName                obsDt  howMany        lat  \
0    Dixon Meadow Preserve  2025-04-01 18:20:00      2.0  40.100315
1    Dixon Meadow Preserve  2025-04-01 18:20:00      1.0  40.100315
2    Dixon Meadow Preserve  2025-04-01 18:20:00      4.0  40.100315
3    Dixon Meadow Preserve  2025-04-01 18:20:00      1.0  40.100315
4    Dixon Meadow Preserve  2025-04-01 18:20:00      3.0  40.100315
..                     ...                  ...      ...        ...
644  Dixon Meadow Preserve  2025-04-30 08:33:00      2.0  40.100315
645  Dixon Meadow Preserve  2025-04-30 08:33:00      1.0  40.100315
646  Dixon Meadow Preserve  2025-04-30 08:33:00      1.0  40.100315
647  Dixon Meadow Preserve  2025-04-30 08:33:00     10.0  40.100315
648  Dixon Meadow Preserve  2025-04-30 08:33:00      1.0  40.100315

           lng  obsValid  obsReviewed  locationPrivate       subId  \
0   -75.240212      True        False            False  S222367272
1   -75.240212      True        False            False  S222367272
2   -75.240212      True        False            False  S222367272
3   -75.240212      True        False            False  S222367272
4   -75.240212      True        False            False  S222367272
..         ...       ...          ...              ...         ...
644 -75.240212      True        False            False  S231169284
645 -75.240212      True        False            False  S231169284
646 -75.240212      True        False            False  S231169284
647 -75.240212      True        False            False  S231169284
648 -75.240212      True        False            False  S231169284

    exoticCategory
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
..             ...
644            NaN
645            NaN
646            NaN
647              N
648            NaN

[649 rows x 14 columns]
speciesCode         object
comName             object
sciName             object
locId               object
locName             object
obsDt               object
howMany            float64
lat                float64
lng                float64
obsValid              bool
obsReviewed           bool
locationPrivate       bool
subId               object
exoticCategory      object
dtype: object

In [4]:
df

,speciesCode,comName,sciName,locId,locName,obsDt,howMany,lat,lng,obsValid,obsReviewed,locationPrivate,subId,exoticCategory
0,cangoo,Canada Goose,Branta canadensis,L3041917,Dixon Meadow Preserve,2025-04-01 18:20:00,2.0,40.100315,-75.240212,True,False,False,S222367272,NaN
1,moudov,Mourning Dove,Zenaida macroura,L3041917,Dixon Meadow Preserve,2025-04-01 18:20:00,1.0,40.100315,-75.240212,True,False,False,S222367272,NaN
2,turvul,Turkey Vulture,Cathartes aura,L3041917,Dixon Meadow Preserve,2025-04-01 18:20:00,4.0,40.100315,-75.240212,True,False,False,S222367272,NaN
3,rethaw,Red-tailed Hawk,Buteo jamaicensis,L3041917,Dixon Meadow Preserve,2025-04-01 18:20:00,1.0,40.100315,-75.240212,True,False,False,S222367272,NaN
4,normoc,Northern Mockingbird,Mimus polyglottos,L3041917,Dixon Meadow Preserve,2025-04-01 18:20:00,3.0,40.100315,-75.240212,True,False,False,S222367272,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,turvul,Turkey Vulture,Cathartes aura,L3041917,Dixon Meadow Preserve,2025-04-30 08:33:00,2.0,40.100315,-75.240212,True,False,False,S231169284,NaN
645,amekes,American Kestrel,Falco sparverius,L3041917,Dixon Meadow Preserve,2025-04-30 08:33:00,1.0,40.100315,-75.240212,True,False,False,S231169284,NaN
646,amecro,American Crow,Corvus brachyrhynchos,L3041917,Dixon Meadow Preserve,2025-04-30 08:33:00,1.0,40.100315,-75.240212,True,False,False,S231169284,NaN
647,eursta,European Starling,Sturnus vulgaris,L3041917,Dixon Meadow Preserve,2025-04-30 08:33:00,10.0,40.100315,-75.240212,True,False,False,S231169284,N
648,comgra,Common Grackle,Quiscalus quiscula,L3041917,Dixon Meadow Preserve,2025-04-30 08:33:00,1.0,40.100315,-75.240212,True,False,False,S231169284,NaN

In [5]:
df['birdCount'] = df['howMany'].astype('Int64')

In [10]:
df.drop(['obsValid', 'obsReviewed', 'locationPrivate', 'exoticCategory', 'subId'], axis=1)

,speciesCode,comName,sciName,locId,locName,obsDt,howMany,lat,lng,birdCount
0,cangoo,Canada Goose,Branta canadensis,L3041917,Dixon Meadow Preserve,2025-04-01 18:20:00,2.0,40.100315,-75.240212,2
1,moudov,Mourning Dove,Zenaida macroura,L3041917,Dixon Meadow Preserve,2025-04-01 18:20:00,1.0,40.100315,-75.240212,1
2,turvul,Turkey Vulture,Cathartes aura,L3041917,Dixon Meadow Preserve,2025-04-01 18:20:00,4.0,40.100315,-75.240212,4
3,rethaw,Red-tailed Hawk,Buteo jamaicensis,L3041917,Dixon Meadow Preserve,2025-04-01 18:20:00,1.0,40.100315,-75.240212,1
4,normoc,Northern Mockingbird,Mimus polyglottos,L3041917,Dixon Meadow Preserve,2025-04-01 18:20:00,3.0,40.100315,-75.240212,3
...,...,...,...,...,...,...,...,...,...,...
644,turvul,Turkey Vulture,Cathartes aura,L3041917,Dixon Meadow Preserve,2025-04-30 08:33:00,2.0,40.100315,-75.240212,2
645,amekes,American Kestrel,Falco sparverius,L3041917,Dixon Meadow Preserve,2025-04-30 08:33:00,1.0,40.100315,-75.240212,1
646,amecro,American Crow,Corvus brachyrhynchos,L3041917,Dixon Meadow Preserve,2025-04-30 08:33:00,1.0,40.100315,-75.240212,1
647,eursta,European Starling,Sturnus vulgaris,L3041917,Dixon Meadow Preserve,2025-04-30 08:33:00,10.0,40.100315,-75.240212,10
648,comgra,Common Grackle,Quiscalus quiscula,L3041917,Dixon Meadow Preserve,2025-04-30 08:33:00,1.0,40.100315,-75.240212,1

In [11]:
df

,speciesCode,comName,sciName,locId,locName,obsDt,howMany,lat,lng,obsValid,obsReviewed,locationPrivate,subId,exoticCategory,birdCount
0,cangoo,Canada Goose,Branta canadensis,L3041917,Dixon Meadow Preserve,2025-04-01 18:20:00,2.0,40.100315,-75.240212,True,False,False,S222367272,NaN,2
1,moudov,Mourning Dove,Zenaida macroura,L3041917,Dixon Meadow Preserve,2025-04-01 18:20:00,1.0,40.100315,-75.240212,True,False,False,S222367272,NaN,1
2,turvul,Turkey Vulture,Cathartes aura,L3041917,Dixon Meadow Preserve,2025-04-01 18:20:00,4.0,40.100315,-75.240212,True,False,False,S222367272,NaN,4
3,rethaw,Red-tailed Hawk,Buteo jamaicensis,L3041917,Dixon Meadow Preserve,2025-04-01 18:20:00,1.0,40.100315,-75.240212,True,False,False,S222367272,NaN,1
4,normoc,Northern Mockingbird,Mimus polyglottos,L3041917,Dixon Meadow Preserve,2025-04-01 18:20:00,3.0,40.100315,-75.240212,True,False,False,S222367272,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,turvul,Turkey Vulture,Cathartes aura,L3041917,Dixon Meadow Preserve,2025-04-30 08:33:00,2.0,40.100315,-75.240212,True,False,False,S231169284,NaN,2
645,amekes,American Kestrel,Falco sparverius,L3041917,Dixon Meadow Preserve,2025-04-30 08:33:00,1.0,40.100315,-75.240212,True,False,False,S231169284,NaN,1
646,amecro,American Crow,Corvus brachyrhynchos,L3041917,Dixon Meadow Preserve,2025-04-30 08:33:00,1.0,40.100315,-75.240212,True,False,False,S231169284,NaN,1
647,eursta,European Starling,Sturnus vulgaris,L3041917,Dixon Meadow Preserve,2025-04-30 08:33:00,10.0,40.100315,-75.240212,True,False,False,S231169284,N,10
648,comgra,Common Grackle,Quiscalus quiscula,L3041917,Dixon Meadow Preserve,2025-04-30 08:33:00,1.0,40.100315,-75.240212,True,False,False,S231169284,NaN,1